@model GigUnite.Models.Gig

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Gig</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Band" class="control-label"></label>
				<input asp-for="Band" class="form-control" />
				<span asp-validation-for="Band" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Date" class="control-label"></label>
				<input asp-for="Date" class="form-control" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Venue" class="control-label"></label>
				<input asp-for="Venue" class="form-control" onchange="showMap()" />
				<span asp-validation-for="Venue" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="Location" class="form-control" type="hidden" readonly/>
			</div>
			<div class="form-group">
				<input name="ProfileId" id="ProfileId" class="form-control" value=1 type="hidden" readonly/>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

<div id="map"></div>
<script>
	function showMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: { lat: 51.5074, lng: 0.1278 }
		});
		var geocoder = new google.maps.Geocoder();

		geocodeAddress(geocoder, map);
	}

	function geocodeAddress(geocoder, resultsMap) {
		var address = document.getElementById('Venue').value;
		geocoder.geocode({ 'address': address }, function (results, status) {
			if (status === 'OK') {
				document.getElementById("Location").value = results[0].geometry.location;
				resultsMap.setCenter(results[0].geometry.location);
				var marker = new google.maps.Marker({
					map: resultsMap,
					position: results[0].geometry.location
				});
			}
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjXWcyMTwQFjJ5gaK2c3PzHRZOenKrTLA&callback=showMap" async defer></script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
