@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-dark">@ViewData["Title"]</h1>
    <p class="text-dark">You do not have access to this resource.</p>
</header>